.card-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card:hover {
  outline: red solid;
}

img {
  width: 400px;
}

.score,
.cardSelector {
  text-align: center;
}

.reset {
  display: block;
  margin: auto;
  color: white;
}

#card-count {
  height: 25px;
}
